.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70vh;
}

.left_box{
    background-color: #288568;
    height: 100%;
    width: 100%;
}

.right_box{
    display: flex;
    justify-content: center;
    align-items: center;
}